<a href="https://colab.research.google.com/github/santhoshsai3/CMPE255-TermProject/blob/main/code/Popularity_Based_Recommended_systems_Supriya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the required libraries

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.mode.chained_assignment = None  # default='warn'

# Loading the dataset to the pandas dataframe.

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/santhoshsai3/CMPE255-TermProject/main/ratings_Beauty.csv')

# Summary of Dataset

In [28]:
print("shape of the dataset :" , df.shape)
(rows,cols) = df.shape
print("The number of rows : ", rows)
print("The number of columns : ", cols)

shape of the dataset : (2023070, 4)
The number of rows :  2023070
The number of columns :  4

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023070 entries, 0 to 2023069
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   UserId     object
 1   ProductId  object
 2   Rating     float64
 3   Timestamp  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 61.7+ MB

In [30]:
df.describe()

             Rating     Timestamp
count  2.023070e+06  2.023070e+06
mean   4.149036e+00  1.360389e+09
std    1.311505e+00  4.611860e+07
min    1.000000e+00  9.087552e+08
25%    4.000000e+00  1.350259e+09
50%    5.000000e+00  1.372810e+09
75%    5.000000e+00  1.391472e+09
max    5.000000e+00  1.406074e+09

In [31]:
#displaying the dataset
df

                 UserId   ProductId  Rating   Timestamp
0        A39HTATAQ9V7YF  0205616461     5.0  1369699200
1        A3JM6GV9MNOF9X  0558925278     3.0  1355443200
2        A1Z513UWSAAO0F  0558925278     5.0  1404691200
3        A1WMRR494NWEWV  0733001998     4.0  1382572800
4        A3IAAVS479H7M7  0737104473     1.0  1274227200
...                 ...         ...     ...         ...
2023065  A3DEHKPFANB8VA  B00LORWRJA     5.0  1405296000
2023066  A3DEHKPFANB8VA  B00LOS7MEE     5.0  1405296000
2023067   AG9TJLJUN5OM3  B00LP2YB8E     5.0  1405382400
2023068   AYBIB14QOI9PC  B00LPVG6V0     5.0  1405555200
2023069  A1PB6OT0OOPKNQ  B00LU0LTOU     5.0  1405641600

[2023070 rows x 4 columns]

In [32]:
#checking for the data integriety by finding the duplicate rows.
duplicates = df.duplicated(["UserId","ProductId", "Rating", "Timestamp"]).sum()
print(' Duplicate records: ',duplicates)

 Duplicate records:  0

In [33]:
#Printing the number of unique users
print('unique users:',len(df['UserId'].unique()))

unique users: 1210271

In [34]:
#Printing the number of unique products
print('unique products:',len(df['ProductId'].unique()))

unique products: 249274

In [35]:
#Printing the number of unique ratings
print('unique ratings:',len(df['Rating'].unique()))

unique ratings: 5

In [36]:
df.drop('Timestamp',axis=1,inplace=True)

# Handling null values

In [37]:
df.isnull().any()

UserId       False
ProductId    False
Rating       False
dtype: bool

In [38]:
#Number of users who rated each product

rated_products=df.groupby("ProductId")["UserId"].count().sort_values(ascending=False)
print(rated_products)

ProductId
B001MA0QY2    7533
B0009V1YR8    2869
B0043OYFKU    2477
B0000YUXI0    2143
B003V265QW    2088
              ...
B004U81OBC       1
B004U7R0EI       1
B004U7Q2O2       1
B004U7NKRE       1
B00LU0LTOU       1
Name: UserId, Length: 249274, dtype: int64

In [39]:
#Number of products with some minimum ratings

print('Number of products with minimum of 5 reviews/ratings:',rated_products[rated_products>5].count())
print('Number of products with minimum of 4 reviews/ratings:',rated_products[rated_products>4].count())
print('Number of products with minimum of 3 reviews/ratings:',rated_products[rated_products>3].count())
print('Number of products with minimum of 2 reviews/ratings:',rated_products[rated_products>2].count())
print('Number of products with minimum of 1 reviews/ratings:',rated_products[rated_products>1].count())

Number of products with minimum of 5 reviews/ratings: 57722
Number of products with minimum of 4 reviews/ratings: 67345
Number of products with minimum of 3 reviews/ratings: 81247
Number of products with minimum of 2 reviews/ratings: 103581
Number of products with minimum of 1 reviews/ratings: 145790

In [40]:
#As data is huge so we take a fraction of the data so that we can create a user item matrix. 

data1 = df.head(10000)
ratings_utility_matrix = data1.pivot_table(values='Rating', index='UserId', columns='ProductId').fillna(0)
ratings_utility_matrix.head()

ProductId,0205616461,0558925278,0733001998,0737104473,0762451459,1304139212,1304139220,130414089X,130414643X,1304146537,...,B000052YPE,B000052YPF,B000052YPG,B000052YPH,B000052YPM,B000052YPU,B000052YPV,B000052YPY,B000052YQ0,B000052YQ2
UserId,,,,,,,,,,,,,,,,,,,,,
A00205921JHJK5X9LNP42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A024581134CV80ZBLIZTZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A03056581JJIOL5FSKJY7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A03099101ZRK4K607JVHH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A0505229A7NSH3FRXRR4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# splitting the data for train and test

In [41]:
from sklearn.model_selection import train_test_split
train_data, test_data=train_test_split(data1,test_size=0.3,random_state=0)

In [42]:
train_data

              UserId   ProductId  Rating
7681  A3PTZFRD34YJ2P  B000052YM8     5.0
9031  A39X2H1HNGDI70  B000052YOR     5.0
3691   AVO9DK715GQB3  B000050B6U     5.0
202   A29AQSCFQ1OZ9R  535795545X     5.0
5625   AAZQ1XIH59FPF  B000052Y5F     5.0
...              ...         ...     ...
9225  A3GK1V11EBBV5P  B000052YOV     5.0
4859  A2QOYBTXOL39JC  B000052XYB     1.0
3264   AGXNHAFAFMKY8  B00004TUBV     5.0
9845  A3R1GOXFTPGB4H  B000052YPG     4.0
2732  A11LHBL6AUFPN8  B00004TUBL     5.0

[7000 rows x 3 columns]

In [43]:
test_data

              UserId   ProductId  Rating
9394  A35GNLA91DUD0F  B000052YOX     3.0
898    ALZWGAK15U76X  9788073476     5.0
2398   ATXSYDHOILQ47  B000024M5R     5.0
5906  A12F4GWQTRVYRX  B000052YI1     5.0
2343  A1MDBICM8D9T3B  B00000JGVX     4.0
...              ...         ...     ...
4004   A8F8QQ28SXHUN  B000050B75     5.0
7375  A2O0A1DDCND6KR  B000052YM7     5.0
9307  A1O54E94G915RT  B000052YOX     4.0
8394  A2XA1S8MRIYUBT  B000052YN5     5.0
5233  A3GMHOF77CT1HR  B000052XZX     4.0

[3000 rows x 3 columns]

In [44]:
print("train data shape:",train_data.shape)
print("test data shape:",test_data.shape)

train data shape: (7000, 3)
test data shape: (3000, 3)

# Popularity Based Recommendation Model

We are aggregating the count of UserId for every product and renaming the count as score to identify which product has the most number of user ratings.As we can see below we have productid and score showing which product has more number of users.

In [45]:
#Count of user_id for each unique product as recommendation score 
train_data_grouped = train_data.groupby('ProductId').agg({'UserId': 'count'}).reset_index()
train_data_grouped.rename(columns = {'UserId': 'score'},inplace=True)
train_data_grouped.head(20)

     ProductId  score
0   0205616461      1
1   0558925278      2
2   0733001998      1
3   0737104473      1
4   0762451459      1
5   1304139212      1
6   1304139220      1
7   130414089X      1
8   130414643X      2
9   1304146537      1
10  130414674X      1
11  1304174778      2
12  1304174867      1
13  1304196046      1
14  1304196135      2
15  1304351475      9
16  1304482596      1
17  1304482685      3
18  1304495396      2
19  1304511073      3

Then we are sorting the products based on the score and adding a rank to these scores.More the score, higher the rank that is being assigned.This rank helps us in identifying the popular products.

In [46]:
#Sort the products on recommendation score 
train_data_sort = train_data_grouped.sort_values(['score', 'ProductId'], ascending = [0,1]) 
      
#Generate a recommendation rank based upon score 
train_data_sort['rank'] = train_data_sort['score'].rank(ascending=0, method='first') 
          
#Get the top 5 recommendations 
popularity_recommendations = train_data_sort.head(5) 
popularity_recommendations

      ProductId  score  rank
589  B00004TUBL    396   1.0
709  B000052YM7    300   2.0
603  B000050B6U    262   3.0
747  B000052YP6    245   4.0
635  B000052XZP    218   5.0

A recommender function is defined where a user_id is provided as input and the popular recommendation are provided to this user.

In [47]:
# Use popularity based recommender model to make predictions
def recommend(user_id):     
    user_recommendations = popularity_recommendations 
          
    #Add user_id column for which the recommendations are being generated 
    user_recommendations['userId'] = user_id 
      
    #Bring user_id column to the front 
    cols = user_recommendations.columns.tolist() 
    cols = cols[-1:] + cols[:-1] 
    user_recommendations = user_recommendations[cols] 
          
    return user_recommendations

A group of userid are provided as input and a list of recommendations are provided for each of these users.

In [48]:
find_recom = [10,50,100,150,200]   # This list is user choice.
for i in find_recom:
    print("The list of recommendations for the userId: %d\n" %(i))
    print(recommend(i))    
    print("\n")

The list of recommendations for the userId: 10

     userId   ProductId  score  rank
589      10  B00004TUBL    396   1.0
709      10  B000052YM7    300   2.0
603      10  B000050B6U    262   3.0
747      10  B000052YP6    245   4.0
635      10  B000052XZP    218   5.0


The list of recommendations for the userId: 50

     userId   ProductId  score  rank
589      50  B00004TUBL    396   1.0
709      50  B000052YM7    300   2.0
603      50  B000050B6U    262   3.0
747      50  B000052YP6    245   4.0
635      50  B000052XZP    218   5.0


The list of recommendations for the userId: 100

     userId   ProductId  score  rank
589     100  B00004TUBL    396   1.0
709     100  B000052YM7    300   2.0
603     100  B000050B6U    262   3.0
747     100  B000052YP6    245   4.0
635     100  B000052XZP    218   5.0


The list of recommendations for the userId: 150

     userId   ProductId  score  rank
589     150  B00004TUBL    396   1.0
709     150  B000052YM7    300   2.0
603     150  B000050B6U    262   3.0
747     150  B000052YP6    245   4.0
635     150  B000052XZP    218   5.0


The list of recommendations for the userId: 200

     userId   ProductId  score  rank
589     200  B00004TUBL    396   1.0
709     200  B000052YM7    300   2.0
603     200  B000050B6U    262   3.0
747     200  B000052YP6    245   4.0
635     200  B000052XZP    218   5.0

# we can see that all the users are given the same recommondation. From this we can see this is not an personalized recommendation model